
.productsWrapper {
    display: flex;
    justify-content: center;
    padding: 40px 150px;
}
.productsList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
   
    
}
.productsList article {
    flex: 0 0 32%; /* ne grandit pas, largeur fixe à 1/3 */
    height: 450px;
    padding: 50px;
    margin-bottom: 25px;
    box-sizing: border-box; /* inclut padding/border dans la largeur */
}

.productsList article img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;

}
.priceCtaWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}