<template id="product-card-template">
  <article class="product-card">
    <img class="product-card__image">
    <p class="product-card__category"></p>
    <h3 class="product-card__title"></h3>
    <p class="product-card__description"></p>
    <div class="priceCtaWrapper">
        <p class="product-card__price"></p>
        <button type= "button" class="product-card__seeProduct">Voir le produit</button>
    </div>
    <button type= "button" class="product-card__addToCart"><i class="fa-solid fa-cart-arrow-down"></i></button>
  </article>
</template>